<!-- map -->
<div class="bmapBox">
    <!--<img class="img-fluid " src="//placehold.it/750x150">-->
    <!--<img class="img " src="assets/images/dummy-map.png">-->
    <!--
    <img class="img " src="assets/images/cropped-2020-02-03 18_35_21.png">
    <img class="img " src="assets/images/cropped-2020-02-03 18_35_21-350x150.png">
    <img class="img " src="assets/images/2020-02-03_750x150.png">
    -->
    <img class="img " src="assets/images/2020-02-03_666x150.png">
    <!--
    <graph [nodes]="nodes" [links]="links"></graph>
    -->
</div>
